/* navbar*/
.nav-item dropdown:hover{
    display:contents; 
}

/* dropdown menu hover */ 
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
    
}
.active{
    margin-left: 20px;
}
.nav-link{
    margin: 4px;
}

.form-inline{
    margin-left: 5px;
}
.bi-person-circle{
    margin-left: 10px;
    font-size: 32px;
    color: black;
}
.bi-bag{
    font-size: 30px; 
    margin-left: 650px;
    color:black;
    position: relative;
}
.cart-basket{
  font-size: 15px;
  position: absolute;
  top: 36px;
  right: 55px;
  width: 15px;
  height: 15px;
  color: #fff;
  background-color: red;
  border-radius: 50%;
  padding: 10px 10px;
}
/*media query navbar*/
@media only screen and (max-width: 600px){
.nav-item{
       margin-left: 20px; 
    }
    .navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }

    .form-inline{
        margin-top: 20px;
        width: 400px;
    }
    .bi-bag{
       position:relative;
       margin-left: 10px;
        font-size: 40px;
    }
.cart-basket{
        position: absolute;
        top: 106px;
        margin-right: 6px;
    }
.bi-person-circle{
        font-size: 40px;
        margin-left: 6px;
    }
}
.title{
	text-align:center;
	margin:0 auto 80px;
	position:relative;
	line-height: 60px;
	color:#555;
}
.title::after{
	content:'';
	background:#ff523b;
	width:100px;
	height:5px;
	border-radius:15px;
	position: absolute;
	
    top: 60px;
	left:50%;
	transform:translateX(-50%);
}
.container{
    padding: 20px;
    height: 600px;
}
.form-inline{
    margin-bottom: 10px;
}
.footer-container{
    background-color: #f8f9fa;
    padding: 10px;
}
.col-md-4, .col-md-3, .col-md-2{
    text-align: left;
}

.bi-facebook, .bi-twitter, .bi-instagram, .bi-google{
   font-size: 20px;
    padding: 10px;
}
/*media query for less than 600 screen size*/

@media only screen and (max-width: 600px){
.col-md-4, .col-md-3, .col-md-2{
	text-align: center;
}

}